.headerWrapper{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: #FFFFFF;
}

.navWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  padding: 0 80px;
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
}

.unTransparentHeader{
  box-shadow: 0 0 15px 0px rgb(0 0 0)

}

.mobileHeaderWrapper{
  width: 100%;
  display: none;
  .burgerWrapper{
    width: 100%;
    height: 56px;
    box-shadow: 0px 5px 2px -2px #A0A0A040;
    display: flex;
    align-items: center;
    position: relative;
    .icon{
      width: 20px;
      height: 20px;
    }
    .openMenu{
      margin-left: 16px;
      color: black;
      display: flex;
      align-items: center;
      gap: 8px;
      h1{
        font-family: Arial;
        font-size: 24px;
        font-weight: 400;
      }
    }

    .navItems {
      width: 100vw;
      top: 100%;
      background: #b7b7b7;
      display: none;
      position: absolute;
      box-sizing: border-box;
      padding: 16px;
    }
    .show{
      display: block;
    }
  }
}


@media only screen and (max-width: 768px) {
  .headerWrapper{
    align-items: flex-start;
  }
  .navWrapper{
    display: none;
  }
  .mobileHeaderWrapper{
    display: block;
  }
}

.mobileNav {
  min-height: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  position: relative;
  @media screen and (min-width: 768px) {
    display: none;
  }

}